@import 'config';

nav {
    background-color: $black;
    width: 100%;
    height: 64px;
    .brand-logo {
        font-size: 1rem;
        margin-left: 25px;
    }
}

#map-container {
    height: calc(100vh - 64px - 64px);

    .map-filters {
        height: calc(100vh - 64px - 64px);
        color: #fff;
        background-color: $blue;
    }

    .google-map {
        height: calc(100vh - 64px - 64px);
        background-color: #f1f1f1;
        padding: 0;
        margin: 0;
    }

    #map {
        height: calc(100vh - 64px - 64px);
    }
}

footer {
    height: 64px;
    background-color: $black;
    width: 100%;
    .copyright {
        transform: translateY(100%);
        color: #fff;
        display: block;
        margin: 0 auto;
        text-align: center;
    }
}

// Mobile
@media screen and (max-width: 600px) {
    #map {
        .map-filters {
            height: 10vh;
        }
        .google-map {
            height: calc(90vh - 64px - 64px);
        }
    }
    footer {
        .copyright {
            transform: translateY(25%);
        }
    }
}